---
const { title } = Astro.props;
const { headline } = Astro.props;
---

<div class="tab tab--active">
<div class="line">
</div>
<div class="headline">{headline}</div> 
{title}
</div>

<style>
.line {
  background-color: #3669e8;
  width: 4px;
  height: 25px;
  position: absolute;
  top: 12px;
  left: 0px;
}

  .tab {
    background-color: #3669e8;
    color: white;
    border-radius: 20px 20px 0px 0px;

    width: 140px;
    border: 1px solid tomato;
    font-weight: 600;
    padding-left: 16px;
    padding-top: 8px;
    position: relative;
  }

  .tab--active {
    background-color: white;
    color:#3669e8;
  }
  .headline {
    font-size: 18px;
    line-height: 1;
  }
</style>
