---
const { title } = Astro.props;
const { headline } = Astro.props;
---

<div class="tab"><div class="headline">{headline}</div> {title}</div>

<style>
  .tab {
    background-color: #3669e8;
    color: white;
    border-radius: 20px 20px 0px 0px;

    width: 140px;

    font-weight: 600;
    padding-left: 16px;
    padding-top: 8px;
  }
  .headline {
    font-size: 18px;
    line-height: 1;
  }
</style>
