---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import AccordionItem from "../components/AccordionItem.astro";
import Accordion from "../components/Accordion.astro";

import Tabs from "../components/tabs/Tabs.astro";
import Tab from "../components/tabs/Tab.astro";
---

<Layout>
  <div class="container mx-auto">
    <NavBar />

    <h2>Frequently Asked <span>Questions</span></h2>

    <Accordion>
      <AccordionItem title="Accordion 01">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
        necessitatibus minus nesciunt rem adipisci fuga nisi consequatur beatae,
        delectus ad autem ipsam possimus, dicta magni recusandae eaque
        perspiciatis, fugit nulla?
      </AccordionItem>

      <AccordionItem title="Accordion 02">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
        necessitatibus minus nesciunt rem adipisci fuga nisi consequatur beatae,
        delectus ad autem ipsam possimus, dicta magni recusandae eaque
        perspiciatis, fugit nulla?
      </AccordionItem>

      <AccordionItem title="Accordion 02">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
        necessitatibus minus nesciunt rem adipisci fuga nisi consequatur beatae,
        delectus ad autem ipsam possimus, dicta magni recusandae eaque
        perspiciatis, fugit nulla?
      </AccordionItem>
    </Accordion>

    <h2>Tabs component</h2>

    <Tabs>
      <Tab title="Queu" headline="06" />
      <Tab title="Earlier" headline="02" />
      <Tab title="Wait List" headline="05" />
      <Tab title="No Show" headline="0" />
    </Tabs>
  </div>
</Layout>

<script></script>
