---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Accordion from "../components/Accordion.astro";
---

<Layout>
  <div class="container mx-auto">
    <NavBar />

    <h2>Frequently Asked <span>Questions</span></h2>

    <Accordion title="Accordion 01">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
      necessitatibus minus nesciunt rem adipisci fuga nisi consequatur beatae,
      delectus ad autem ipsam possimus, dicta magni recusandae eaque
      perspiciatis, fugit nulla?
    </Accordion>

    <Accordion title="Accordion 02">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
      necessitatibus minus nesciunt rem adipisci fuga nisi consequatur beatae,
      delectus ad autem ipsam possimus, dicta magni recusandae eaque
      perspiciatis, fugit nulla?
    </Accordion>

    <Accordion title="Accordion 03">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
      necessitatibus minus nesciunt rem adipisci fuga nisi consequatur beatae,
      delectus ad autem ipsam possimus, dicta magni recusandae eaque
      perspiciatis, fugit nulla?
    </Accordion>
  </div>
</Layout>
