---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <div class="flex gap-8">
    <Card
      class="bg-[#9AD3CC]"
      icon="check-circle"
      title="Save taxes"
      parrafo="PFRDA appinted POP (Point of Presence) registretion number 1614858 and were authorized to provide NPS services."
    />
    <Card
      class="bg-[#EEEDEA]"
      icon="percent"
      title="Regulated & Transparent"
      parrafo="Under Section 80CCD, save upto 15,480 in taxes."
    />
    <Card
      class="bg-[#E8CAA2]"
      icon="dollar-sign"
      title="Get regular pension income"
      parrafo="Build retirement corpus of 1.5 Cr in 30 years with investment a low as < 50,000 a year."
    />
  </div>
</Layout>
