---
const { title } = Astro.props;
---

<details class="mb-6">
  <summary
    class="font-semibold list-none flex items-center gap-2 cursor-pointer"
  >
    <i
      class="h-5 w-5 rounded-full bg-slate-300 flex items-center justify-center"
    >
      <svg
        class="plus w-2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
        >
        </path>
      </svg>

      <svg
        class="minus w-2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
        >
        </path>
      </svg>
    </i>

    {title}
  </summary>
  <div class="pl-7">
    <slot />
  </div>
</details>

<style>
  details summary {
    color: gray;
  }

  details[open] summary {
    color: black;
  }

  details[open] svg.plus {
    display: none;
  }

  details svg.minus {
    display: none;
  }

  details[open] svg.minus {
    display: block;
  }
</style>
