<div>
  <button class="btn">Native State</button>
</div>

<style>
  .btn {
    padding: 1rem 1rem;
    border-radius: 8px;
    background-color: rgb(65, 65, 200);
    color: white;
    font-weight: bold;
    
  }

</style>
