<div class="">
  <h2 class="w-80 bg-#9AD3CC">Save taxes</h2>
  <p>
    PFRDA appinted POP (Point of Presence) registretion number 1614858 and we re
    authorized to provide NPS services.
  </p>
</div>
