---
import { Icon } from "astro-icon";
---

<div class="relative w-80 h-96 bg-[#9AD3CC] rounded-xl">
  <Icon class="absolute right-5 top-5 w-28" name="check-circle" />
  <div class="absolute bottom-4 left-4 right-4">
    <h2 class="font-medium text-3xl">Save taxes</h2>
    <p class="pt-6 font-medium">
      PFRDA appinted POP (Point of Presence) registretion number 1614858 and we
      re authorized to provide NPS services.
    </p>
  </div>
</div>
