<div class="frame">
  <h3>Grayscale</h3>

  <div class="rectangle">
    <div class="first square"><p>#e9e9ed</p></div>
    <div class="second square"><p>#d4d3db</p></div>
    <div class="third square"><p>#a9a9b9</p></div>
    <div class="fourth square"><p>#7f7e96</p></div>
    <div class="fifth square"><p>#555473</p></div>
    <div class="sixth square"><p>#2a2951</p></div>
  </div>
</div>

<style>
  .frame {
    padding-left: 150px;
    padding-right: 150px;
  }

  .frame h3 {
    font-size: x-large;
    font-weight: 900;
  }

  .rectangle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .square {
    height: 150px;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
  }

  .square p {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 19px;
    padding-bottom: 20px;
  }

  .first {
    background-color: #e9e9ed;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #e9e9ed;
  }

  .first:hover {
    color: #555473;
  }

  .second {
    background-color: #d4d3db;
    color: #d4d3db;
  }

  .second:hover {
    color: #555473;
  }

  .third {
    background-color: #a9a9b9;
    color: #a9a9b9;
  }

  .third:hover {
    color: #555473;
  }

  .fourth {
    background-color: #7f7e96;
    color: #7f7e96;
  }

  .fourth:hover {
    color: white;
  }

  .fifth {
    background-color: #555473;
    color: #555473;
  }

  .fifth:hover {
    color: white;
  }

  .sixth {
    background-color: #2a2951;
    color: #2a2951;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .sixth:hover {
    color: white;
  }
</style>
