---
import { Icon } from "astro-icon";
---

<div class="bg-fis-purple">
  <ul class="flex font-semibold gap-4 p-4">
    <li>Invest</li>
    <li>Insure</li>
    <li>Goals</li>
    <li>Partners</li>
    <Icon class="h-3.5" name={"bars"} />
  </ul>
</div>
