<div>
    <p></p>
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h4>Akul Sharma</h4>
            <div>App store review</div>
        </div>
        <div></div>
    </div>
</div>