<div class="testimonial">
  <p class="comment">"Awesome"</p>

  <div class="person">
    <div>
      <img
        src="https://avatars.githubusercontent.com/u/93014305?s=64&v=4"
        alt=""
      />
    </div>
    <div>
      <h4>Akul Sharma</h4>
      <div>App store review</div>
    </div>
    <div></div>
  </div>
</div>

<style>
  .testimonial {
    background-color: #eeedea;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
  }
  .person img {
    width: 2rem;
    height: 2rem;
  }
</style>
